* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 156, 173);
}
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.play-game {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 2%;
}
.game {
    display: flex;
    height: auto;
    width: 100%;
    flex-flow: column;
    justify-content: space-around;
}
.game, 
.gameboard {
    width: 75%;
    margin: 5px auto;
}
.gameboard table {
    justify-self: center;
    width: 100%;
    margin-top: 2%;
}
table {
    border-collapse: collapse;
}
.gameboard td {
    width: 25%;
    height: 20vh;
    text-align: center;
    vertical-align: middle;
    border: 0.5em solid black;
}
h1 {
    text-align: center;
    font-size: 3rem;
}
.winner {
    display: inline-block;
    width: 20%;
    margin-left: -20%;
    margin-right: 1%;
}
.winner ul {
    border: 0.15em black solid;
    list-style: none;
}
.winner ul li {
    font-size: 1.2rem;
    text-align: center;
    background-color: rgb(210, 210, 210);
}
section {
    display: block;
    width: 100%;
    padding: 5px;
    text-align: center;
}
.restart .reset {
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 2em;
}
.restart button {
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    margin: 0 auto;
    border-radius: 5%;
    display: block;
    padding: 5px;
    border: 2px black solid;
    background-color: rgb(75, 75, 232);
}
.reset strong {
    background-color: rgb(75, 75, 232);
    font-size: 2rem;
}
.reset input {
    display: inline-block;
    width: 25%;
}
#name {
    margin: 2% auto;
    border-radius: 15%;
}
.circle {
    display: inline-block;
    border: 0.4em solid black;
    border-radius: 150px;
    width: 6rem;
    height: 6rem;
}
.cross-left {
    display: block;
    border: 0.4rem solid black;
    background-color: black;
    width: 6rem;
    position: relative;
    margin: auto;
    left: 5%;
    top: 10%;
    border-radius: 20%;
    transform: rotate(45deg);
}
.cross-right {
    background-color: black;
    display: block;
    border: 0.4em solid black;
    width: 6rem;
    margin: 0 auto;
    position: relative;
    top: 5%;
    left: 5%;
    border-radius: 20%;
    transform: rotate(-45deg);
}
.h-line {
    background-color: darkgreen;
    display: block;
    position: absolute;
    border-radius: 5%;
    width: 45vw;
    left: 25%;
    height: 5%;

}